body {
  margin: 0;
  font-family: "BR Firma Regular";
}

@font-face {
  font-family: "BR Firma Regular";
  font-style: normal;
  font-weight: normal;
  src: local("BR Firma Regular"), url("BR Firma Regular.woff") format("woff");
}

@font-face {
  font-family: "BR Firma Medium";
  font-style: normal;
  font-weight: normal;
  src: local("BR Firma Medium"), url("BR Firma Medium.woff") format("woff");
}

@font-face {
  font-family: "BR Firma SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("BR Firma SemiBold"), url("BR Firma SemiBold.woff") format("woff");
}

@font-face {
  font-family: "BR Firma Bold";
  font-style: normal;
  font-weight: normal;
  src: local("BR Firma Bold"), url("BR Firma Bold.woff") format("woff");
}

@font-face {
  font-family: "BR Firma Black";
  font-style: normal;
  font-weight: normal;
  src: local("BR Firma Black"), url("BR Firma Black.woff") format("woff");
}
