body {
  margin: 0;
  font-family: "BRFirma Regular" sans-serif;
}

@font-face {
  font-family: "BRFirma Regular";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/BR Firma Regular.woff") format("woff");
}

@font-face {
  font-family: "BRFirma Medium";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/BR Firma Medium.woff") format("woff");
}

@font-face {
  font-family: "BRFirma SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/BR Firma SemiBold.woff") format("woff");
}

@font-face {
  font-family: "BRFirma Bold";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/BR Firma Bold.woff") format("woff");
}

@font-face {
  font-family: "BR Firma Black";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/BR Firma Black.woff") format("woff");
}
